In [2]:
# Load required libraries and datasets

import pandas as pd
import numpy as np
import regex as re
from plotnine import *
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [4]:
# Point the filePath to where you have downloaded the datasets to and
# assign the data files to data.tables
qviData = pd.read_csv("QVI_data.csv")

In [5]:
# Read basic information of the data set
qviData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264834 entries, 0 to 264833
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   LYLTY_CARD_NBR    264834 non-null  int64
 1   DATE              264834 non-null  object
 2   STORE_NBR         264834 non-null  int64
 3   TXN_ID            264834 non-null  int64
 4   PROD_NBR          264834 non-null  int64
 5   PROD_NAME         264834 non-null  object
 6   PROD_QTY          264834 non-null  int64
 7   TOT_SALES         264834 non-null  float64
 8   PACK_SIZE         264834 non-null  int64
 9   BRAND             264834 non-null  object
 10  LIFESTAGE         264834 non-null  object
 11  PREMIUM_CUSTOMER  264834 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 24.2+ MB

## Select control stores
The client has selected store numbers 77, 86 and 88 as trial stores and want
control stores to be established stores that are operational for the entire
observation period.

We would want to match trial stores to control stores that are similar to the trial
store prior to the trial period of Feb 2019 in terms of :

- Monthly overall sales revenue
- Monthly number of customers
- Monthly number of transactions per customer

Let's first create the metrics of interest and filter to stores that are present
throughout the pre-trial period.

#### Calculate these measures over time for each store
#### Over to you! Add a new month ID column in the data with the format yyyymm.

In [7]:
#create matrix with three variables

trial_stores = qviData[["LYLTY_CARD_NBR", "DATE", "STORE_NBR", "TOT_SALES", "PROD_QTY", "PACK_SIZE"]]
trial_stores.head(10)

   LYLTY_CARD_NBR        DATE  STORE_NBR  TOT_SALES  PROD_QTY  PACK_SIZE
0            1000  2018-10-17          1        6.0         2        175
1            1002  2018-09-16          1        2.7         1        150
2            1003  2019-03-07          1        3.6         1        210
3            1003  2019-03-08          1        3.0         1        175
4            1004  2018-11-02          1        1.9         1        160
5            1005  2018-12-28          1        2.8         1        165
6            1007  2018-12-04          1        3.8         1        110
7            1007  2018-12-05          1        2.7         1        150
8            1009  2018-11-20          1        5.7         1        330
9            1010  2018-09-09          1        8.8         2        170

In [12]:
#check a number of unique customers
trial_stores.LYLTY_CARD_NBR.nunique()

72636

In [11]:
#add month data
trial_stores["MONTH"] = trial_stores_DATE.

            LYLTY_CARD_NBR  STORE_NBR  TOT_SALES  PROD_QTY  PACK_SIZE
DATE
2018-07-01        96647678      96529     5372.2      1394     132270
2018-07-02        93701840      93589     5315.4      1367     132001
2018-07-03        99982192      99862     5321.8      1389     131956
2018-07-04        98163455      98046     5309.9      1373     129791
2018-07-05        96998859      96886     5080.9      1358     129415
...                    ...        ...        ...       ...        ...
2019-06-26        99081307      97548     5305.0      1380     135614
2019-06-27        92923154      92804     5202.8      1352     128170
2019-06-28       101480076     100656     5299.6      1400     131621
2019-06-29       102628409      99608     5497.6      1438     137553
2019-06-30       101429649     101311     5423.4      1416     133989

[364 rows x 5 columns]