In [1]:
##load the dataset
import pandas as pd 
transactionData=pd.read_csv('QVI_purchase_behaviour.csv')
customerData=pd.read_excel("QVI_transaction_data.xlsx")

In [2]:
## Exploratory data analysis

transactionData.head(10)

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream
5            1007   YOUNG SINGLES/COUPLES           Budget
6            1009            NEW FAMILIES          Premium
7            1010   YOUNG SINGLES/COUPLES       Mainstream
8            1011   OLDER SINGLES/COUPLES       Mainstream
9            1012          OLDER FAMILIES       Mainstream

In [3]:
customerData["DATE"]=pd.to_datetime(customerData["DATE"], origin = "1899-12-30",unit="D")

In [4]:
customerData.head(10)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8
5,2019-05-19,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1
6,2019-05-16,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7
7,2019-05-16,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6
8,2018-08-20,5,5026,4525,42,Doritos Corn Chip Mexican Jalapeno 150g,1,3.9
9,2018-08-18,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.2

In [5]:
transactionData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72637 entries, 0 to 72636
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    72637 non-null  int64
 1   LIFESTAGE         72637 non-null  object
 2   PREMIUM_CUSTOMER  72637 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

In [6]:
transactionData.shape

(72637, 3)

In [7]:
transactionData.describe(include=['object', 'bool'])

       LIFESTAGE PREMIUM_CUSTOMER
count      72637            72637
unique         7                3
top     RETIREES       Mainstream
freq       14805            29245

In [8]:
transactionData['PREMIUM_CUSTOMER'].value_counts()

Mainstream    29245
Budget        24470
Premium       18922
Name: PREMIUM_CUSTOMER, dtype: int64

In [9]:
transactionData['LIFESTAGE'].value_counts()

RETIREES                  14805
OLDER SINGLES/COUPLES     14609
YOUNG SINGLES/COUPLES     14441
OLDER FAMILIES             9780
YOUNG FAMILIES             9178
MIDAGE SINGLES/COUPLES     7275
NEW FAMILIES               2549
Name: LIFESTAGE, dtype: int64

In [10]:
customerData.shape

(264836, 8)

In [11]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264836 entries, 0 to 264835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DATE            264836 non-null  datetime64[ns]
 1   STORE_NBR       264836 non-null  int64
 2   LYLTY_CARD_NBR  264836 non-null  int64
 3   TXN_ID          264836 non-null  int64
 4   PROD_NBR        264836 non-null  int64
 5   PROD_NAME       264836 non-null  object
 6   PROD_QTY        264836 non-null  int64
 7   TOT_SALES       264836 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 16.2+ MB

In [12]:
customerData.describe()

,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES
count,264836.00000,2.648360e+05,2.648360e+05,264836.000000,264836.000000,264836.000000
mean,135.08011,1.355495e+05,1.351583e+05,56.583157,1.907309,7.304200
std,76.78418,8.057998e+04,7.813303e+04,32.826638,0.643654,3.083226
min,1.00000,1.000000e+03,1.000000e+00,1.000000,1.000000,1.500000
25%,70.00000,7.002100e+04,6.760150e+04,28.000000,2.000000,5.400000
50%,130.00000,1.303575e+05,1.351375e+05,56.000000,2.000000,7.400000
75%,203.00000,2.030942e+05,2.027012e+05,85.000000,2.000000,9.200000
max,272.00000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000

In [13]:
customerData.describe(include=['object', 'bool'])

                                     PROD_NAME
count                                   264836
unique                                     114
top     Kettle Mozzarella   Basil & Pesto 175g
freq                                      3304

In [14]:
customerData['PROD_NAME'].value_counts()

Kettle Mozzarella   Basil & Pesto 175g      3304
Kettle Tortilla ChpsHny&Jlpno Chili 150g    3296
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    3269
Tyrrells Crisps     Ched & Chives 165g      3268
Cobs Popd Sea Salt  Chips 110g              3265
                                            ...
RRD Pc Sea Salt     165g                    1431
Woolworths Medium   Salsa 300g              1430
NCC Sour Cream &    Garden Chives 175g      1419
French Fries Potato Chips 175g              1418
WW Crinkle Cut      Original 175g           1410
Name: PROD_NAME, Length: 114, dtype: int64

In [15]:
customerData.sort_values(by='PROD_QTY',
        ascending= False)

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
69762,2018-08-19,226,226000,226201,4,Dorito Corn Chp Supreme 380g,200,650.0
69763,2019-05-20,226,226000,226210,4,Dorito Corn Chp Supreme 380g,200,650.0
217237,2019-05-18,201,201060,200202,26,Pringles Sweet&Spcy BBQ 134g,5,18.5
238333,2018-08-14,219,219004,218018,25,Pringles SourCream Onion 134g,5,18.5
238471,2019-05-19,261,261331,261111,87,Infuzions BBQ Rib Prawn Crackers 110g,5,19.0
...,...,...,...,...,...,...,...,...
82354,2019-04-03,18,18302,15551,2,Cobs Popd Sour Crm &Chives Chips 110g,1,3.8
82357,2018-09-23,18,18420,15697,91,CCs Tasty Cheese 175g,1,2.1
172438,2018-07-31,3,3290,2349,36,Kettle Chilli 175g,1,5.4
82358,2019-05-23,18,18420,15698,52,Grain Waves Sour Cream&Chives 210G,1,3.6
32479,2018-08-14,128,128103,131207,107,Smiths Crinkle Cut French OnionDip 150g,1,2.6

Check if any incorrect entries

In [28]:
customerData.PROD_NAME

0           Natural Chip        Compny SeaSalt175g
1                         CCs Nacho Cheese    175g
2           Smiths Crinkle Cut  Chips Chicken 170g
3           Smiths Chip Thinly  S/Cream&Onion 175g
4         Kettle Tortilla ChpsHny&Jlpno Chili 150g
                            ...
264831     Kettle Sweet Chilli And Sour Cream 175g
264832               Tostitos Splash Of  Lime 175g
264833                    Doritos Mexicana    170g
264834     Doritos Corn Chip Mexican Jalapeno 150g
264835               Tostitos Splash Of  Lime 175g
Name: PROD_NAME, Length: 264836, dtype: object

In [35]:
words=[]
for i in customerData.PROD_NAME :
    for s in i.split():
        words.append(s)

In [56]:
pd.set_option('display.max_rows', None)
w_list=pd.Series(words)
print(w_list.value_counts())

175g                  60561
Chips                 49770
150g                  41633
Kettle                41288
&                     35565
Smiths                28860
Salt                  27976
Cheese                27890
134g                  25102
Pringles              25102
Doritos               24962
Crinkle               23960
110g                  22387
Corn                  22063
Original              21560
Cut                   20754
Chip                  18645
170g                  18502
Salsa                 18094
Chicken               15407
165g                  15297
Sea                   14145
Thins                 14075
Sour                  13882
Crisps                12607
330g                  12540
Vinegar               12402
Chilli                12389
300g                  12041
RRD                   11894
Infuzions             11057
Supreme               10963
WW                    10320
Popd                   9693
Cobs                   9693
Tortilla               9580
Tostitos               9471
Twisties               9454
Sensations             9429
Old                    9324
El                     9324
Paso                   9324
Dip                    9324
Sweet                  7883
Lime                   7852
Tomato                 7669
Cream                  7618
Thinly                 7507
Tyrrells               6442
380g                   6418
And                    6373
BBQ                    6351
Tangy                  6332
Waves                  6272
Grain                  6272
Lightly                6248
Salted                 6248
Soy                    6121
Natural                6050
Mild                   6048
Red                    5885
Rock                   5885
Deli                   5885
Thai                   4737
Burger                 4733
Swt                    4718
Chives                 4687
Honey                  4661
Nacho                  4658
Potato                 4647
Cheezels               4603
CCs                    4551
200g                   4473
Woolworths             4437
Pesto                  3304
Basil                  3304
Mozzarella             3304
ChpsHny&Jlpno          3296
Chili                  3296
Swt/Chlli              3269
&Sr/Cream              3269
Ched                   3268
135g                   3257
Pot                    3257
Of                     3252
Splash                 3252
SweetChili             3242
PotatoMix              3242
Crnkle                 3233
Bag                    3233
Orgnl                  3233
Big                    3233
Hot                    3229
Spicy                  3229
Camembert              3219
Fig                    3219
Barbeque               3210
Jalapeno               3204
Mexican                3204
Light&                 3188
Chp                    3185
Dorito                 3185
Sweet&Spcy             3177
Rib                    3174
Crackers               3174
Prawn                  3174
Southern               3172
Chicken270g            3170
250g                   3169
210g                   3167
SourCream              3162
Onion                  3162
&Chives                3159
Crm                    3159
ChpsBtroot&Ricotta     3146
Chipotle               3145
Smoked                 3145
Infzns                 3144
Crn                    3144
Gcamole                3144
Crnchers               3144
ChpsFeta&Garlic        3138
Veg                    3134
SourCream&Herbs        3134
Strws                  3134
Siracha                3127
Ht300g                 3125
Tom                    3125
Chnky                  3125
270g                   3115
Mexicana               3115
Med                    3114
Flavour                3114
Mystery                3114
Seasonedchicken        3114
210G                   3105
Cream&Chives           3105
Crips                  3104
Vingar                 3095
Slt                    3095
Sthrn                  3083
FriedChicken           3083
BBQ&Maple              3083
Rings                  3080
ChipCo                 3010
90g                    3008
190g                   2995
SR                     2984
160g                   2970
Smith                  2963
Cheetos                2927
Medium                 2879
French                 2856
Cheddr&Mstrd           1576
Snbts                  1576
Whlgrn                 1576
Tmato                  1572
Hrb&Spce               1572
Co                     1572
220g                   1564
Vinegr                 1550
Tasty                  1539
Slow                   1526
Pork                   1526
Rst                    1526
Belly                  1526
Roast                  1519
Mac                    1512
N                      1512
Chutny                 1507
Mango                  1507
Papadums               1507
70g                    1507
Chilli&                1506
Coconut                1506
Snag&Sauce             1503
Sp                     1498
150G                   1498
Truffle                1498
Chilli&Lime            1495
Barbecue               1489
Stacked                1487
&OnionStacked          1483
Chs&Onion170g          1481
Chs                    1479
Balls                  1479
Bacon                  1479
S/Cream&Onion          1473
Pepper                 1473
D/Style                1469
Btroot                 1468
Compny                 1468
Jam                    1468
GrnWves                1468
SeaSalt175g            1468
Plus                   1468
180g                   1468
Chli&S/Cream175G       1461
Chckn175g              1460
Hony                   1460
Mzzrlla                1458
Chimuchurri            1455
Steak                  1455
125g                   1454
Box                    1454
Bolognese              1451
Puffs                  1448
Originl                1441
saltd                  1441
CutSalt/Vinegr175g     1440
OnionDip               1438
Chikn&Garlic           1434
Aioli                  1434
Whlegrn                1432
Frch/Onin              1432
Sunbites               1432
Pc                     1431
Garden                 1419
NCC                    1419
Fries                  1418
dtype: int64

Remove digits, and special characters, and then sort the distinct words by frequency of occurrence

In [29]:
s='Natural Chip        Compny SeaSalt175g'
s.split()

['Natural', 'Chip', 'Compny', 'SeaSalt175g']